// Common styles of the project

html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1.714;
    color: #959595
}

.clearfix {
    @include cf;
}

.s-title {
    font-size: 35px;
    color: #222626;
    font-weight: 100;
    margin: 16px 0 0;

    &--white {
        color: #fff;
    }
}
