.s-hero {
    background: url("%=static=%assets/hero/bg-hero.jpg") center center no-repeat;
}

.b-hero {
    height: 951px;
    min-height: 100vh;
    color: #fff;
    position: relative;
    padding-top: 200px;
    @media (min-width: $screen-md-min) {
        padding-top: 418px;
    }

    &:after {
        @media (min-width: $screen-md-min) {
            content: url("%=static=%assets/hero/iphone.png");
            position: absolute;
            right: -63px;
            bottom: -262px;
        }
    }
}

    .b-hero__title {
        font-size: 60px;
        font-weight: 100;
        margin-bottom: 20px;
    }


    .b-hero__text {
        max-width: 550px;
    }
