<section class="s-fullimage">
    <div class="container">
        <div class="b-fullimage">
            <div class="b-fullimage__title">More power  behind every pixel.</div>

            <div class="row">
                <div class="b-fullimage__text col-md-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur ducimus ea eius facere fugiat in ipsum laboriosam maxime neque odit officiis quaerat quis ratione saepe sequi ullam, voluptate voluptatem!
                </div>
            </div>

            <footer class="b-fullimage__footer">
                <a href="#" class="b-fullimage__link">See the options</a>
            </footer>
        </div>
    </div>
</section>
