<div class="s-reasons">
    <div class="container">
        <section class="b-reasons">
            <h2 class="s-title s-title--white">Reasons to get onboard</h2>

            <div class="b-reasons__list row">
                {{#each reasons.items}}
                <div class="b-reasons__item col-md-4">
                    <div class="b-reasons__item-title">{{title}}</div>
                    <div class="b-reasons__item-text">{{text}}</div>
                </div>
                {{/each}}

            </div>

        </section>
    </div>
</div>
