.s-start {
    padding-top: 20px;
    padding-bottom: 20px;
    @media (min-width: $screen-sm-min) {
        padding-top: 92px;
        padding-bottom: 50px;
    }
}

.b-start {

}


    .b-start__col-right {
        @media (min-width: $screen-md-min) {
            padding-top: 100px;
        }
    }
