<form action="#" class="b-form-subscription">

    <label class="b-form-subscription__title" for="b-form-subscription__input">
        Stay in touch
    </label>

    <div class="b-form-subscription__group">
        <input id="b-form-subscription__input" type="email" class="b-form-subscription__input" required>
        <button class="b-form-subscription__btn btn btn-success">
            {{Icon iconName='tick' iconWidth='20' iconHeight='25'}}
        </button>
    </div>

    <div class="b-form-subscription__note">
        We don’t send spam. Actually, who are we kiding, we’ll spam
        the shit out of you’r inbox
    </div>

</form>
